[submodule "lerobot"]
	path = lerobot
	url = https://github.com/holmsslk/lerobot.git
[submodule "TG_Robot/src/ros2_socketcan"]
	path = TG_Robot/src/ros2_socketcan
	url = https://github.com/holmsslk/ros2_socketcan.git
