[submodule "lerobot"]
	path = lerobot
	url = git@github.com:holmsslk/lerobot.git
[submodule "TG_Robot/src/ros2_socketcan"]
	path = TG_Robot/src/ros2_socketcan
	url = git@github.com:holmsslk/ros2_socketcan.git
